# Local stuff
/.idea/
*.iml
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild

# Gradle related stuff
gradle/*
.gradle
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
